html, body, #main {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  background-color: #101010;
  color: #101010;
}

#main {
  width: 100vw;
  height: 98vh;
}

#banner, #footer {
  font-family: 'Yatra One', cursive;
  text-align: center;
  background-color: #101010;
  color: #f4f3ee;
}

#banner {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 32px;
  border-bottom: 4px solid #f4f3ee;

  position: fixed;
  top: 0px;
  width: 100%;
}

a {
  color: #f4f3ee;
}

.page:hover {
  color: #7587bf;
}

.page:link {
  text-decoration: none;
}

#active{
  color: #7587bf;
}

#mv {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;

  position: relative;
  top: 50px;
}

#footer {
  font-size: 20px;
  padding-top: 10px;
  border-top: 4px solid #f4f3ee;

  position: fixed;
  bottom: 0px;
  width: 100%;
}
